@{
    ViewData["Title"] = "Teaching Center";
}

<style>
body {
  background-color: #f7f8f9;
}

.window-card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 0.25rem !important;
}

.window-card > .card-body {
  padding: 2rem 1.5rem 1.5rem;
}

.window-card > .card-body .panel-bottom {
  text-align: right;
  margin-top: 1.5em;
}
</style>

<div class="container card-container">
    <div class="card window-card container-fluid">
        <div class="card-body">
            <h2 class="mb-3">Overview</h2>
            <div class="row">
                <div class="col-md-4">
                    <a class="breadcrumb mb-md-0 text-reset text-decoration-none" href="#">
                        <div style="width:100%;color:#6c757d">
                            <span>Contests</span>
                            <span class="float-right"><i class="fas fa-trophy"></i></span>
                        </div>
                        <h3 class="mb-0">
                            0
                        </h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="breadcrumb mb-md-0 text-reset text-decoration-none" href="#">
                        <div style="width:100%;color:#6c757d">
                            <span>Problems</span>
                            <span class="float-right"><i class="fas fa-book-open"></i></span>
                        </div>
                        <h3 class="mb-0">
                            0
                        </h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="breadcrumb mb-0 text-reset text-decoration-none" href="#">
                        <div style="width:100%;color:#6c757d">
                            <span>Student Groups</span>
                            <span class="float-right"><i class="fas fa-users"></i></span>
                        </div>
                        <h3 class="mb-0">
                            0
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card window-card container-fluid">
        <div class="card-body">
            <h2>Contests</h2>
            <p class="text-danger">You do not have access to this resource.</p>
        </div>
    </div>
</div>
