@{
    ViewData["Title"] = "About";
}

<h2 class="mt-2">@ViewData["Title"]</h2>
<h5 class="mb-3">Something about this Online Judge.</h5>

<div class="row">
    <div class="col-lg-4">
        <h4 class="mb-3">Architecture of Service</h4>
        <ul class="pl-4 pr-4">
            <li>
                <h5>Project Substrate <a href="//github.com/namofun/uikit"><i class="fab fa-git-alt"></i></a></h5>
                <p>
                    This is a project for ASP.NET Core module design standard,
                    designed as Satellite Site first. With this module, you can
                    build your module application faster.
                </p>
            </li>
            <li>
                <h5>Problem &amp; Judging <a href="//github.com/namofun/polygon"><i class="fab fa-git-alt"></i></a></h5>
                <p>
                    Problems, judgings, submissions, executables, internal-errors,
                    judgehosts from <a href="//www.domjudge.org">DOMjudge</a> design. Using a modified
                    <a href="//github.com/namofun/judgehost">judgehost</a> to enhance performance.
                </p>
            </li>
            <li>
                <h5>Contest Control System <a href="//github.com/namofun/ccs"><i class="fab fa-git-alt"></i></a></h5>
                <p>
                    Extensible contest system for online contests and onsite contests.
                    Support different kinds of contests and ranking rules like XCPC, IOI and CF.
                </p>
            </li>
            <li>
                <h5>Plagiarism Detection <a href="//github.com/namofun/plagiarism"><i class="fab fa-git-alt"></i></a></h5>
                <p>
                    Online plagiarism detection system inspired from <a href="//github.com/jplag/jplag">JPlag</a> project. Rewritten in C# and ANTLR4. Firstly developed as a course design.
                </p>
            </li>
        </ul>
    </div>

    <div class="col-lg-4">
        <h4 class="mb-3">Development and History</h4>
        <ul class="pl-4 pr-4">
            <li>
                <h5>Team</h5>
                <ul class="pl-4 mb-2">
                    <li>GitHub @@yang-er</li>
                    <li>GitHub @@WUST-mengqinyu</li>
                </ul>
                <p>Welcome to join!</p>
            </li>
            <li>
                <h5>History</h5>
                <ul class="pl-4 mb-3">
                    <li>2018/05/11 Project started</li>
                    <li>2018/06/01 Toy version first use in class</li>
                    <li>2019/06/06 Use DOMjudge v7.0.0 as JudgeCore</li>
                    <li>2019/07/04 Start developing contest feature</li>
                    <li>2019/07/24 Cleanup and fully open source</li>
                    <li>2019/12/15 Added polygon and dashboard</li>
                    <li>2020/03/20 Split database operations off from MVC</li>
                    <li>2020/04/10 Project Satellite Site</li>
                    <li>2020/05/12 Fork for Namomo OJ</li>
                    <li>2020/06/15 Project Substrate for modularization</li>
                    <li>2021/03/23 Production test for newer version</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-lg-4">
        <h4 class="mb-3">Repositories</h4>
        <ul class="pl-4 mb-3">
            <li>
                <h5>Toy Version <a href="//github.com/yang-er/joj-old"><i class="fab fa-github"></i></a></h5>
                <p>
                    First version that used in our data-structure class.
                    JudgeW32 was hosted on a tiny Windows Nano Server and provider judging functions.
                    JudgeWeb was any where that can hold a PHP-website with MySQL.
                </p>
            </li>
            <li>
                <h5>Archived Version <a href="//github.com/yang-er/OnlineJudge"><i class="fab fa-github"></i></a></h5>
                <p>
                    The previous running version of this online judge.
                    Most functions are adopted from DOMjudge to adapt to training.
                    Provide contest management, polygon and so on.
                </p>
            </li>
            <li>
                <h5>CN XCPC Tools <a href="//github.com/cn-xcpc-tools"><i class="fab fa-github"></i></a></h5>
                <p>
                    Toolset for holding contests, such as localized ICPC Live,
                    printing persistent, documents about DOMjudge.
                </p>
            </li>
            <li>
                <h5>Namomo Open Source <a href="//github.com/namofun"><i class="fab fa-github"></i></a></h5>
                <p>
                    The GitHub organization holding the current versions.
                    Also the repository for Namomo OJ.
                </p>
            </li>
        </ul>
    </div>
</div>

@section Scripts {

    <style>
        .tech-icon {
            height: 3em;
            margin-right: 0.5em;
            margin-top: 0.5em;
        }
    </style>

}